{% if recommendations.performed %}
  {% assign cart_product_ids = cart.items | map: 'product_id' %}

  <ul class="upsell-list" role="list">
    {% for product in recommendations.products %}
      {% unless cart_product_ids contains product.id %}
        <li class="upsell-list__item">
          {% if product.featured_media %}
            <div class="upsell-card__media">
              <img
                  src="{{ product.featured_media | image_url: width: 300 }}"
                  alt="{{ product.featured_media.alt | escape }}"
                  loading="lazy"
                  width="300"
                  height="{{ 300 | divided_by: product.featured_media.aspect_ratio | round }}"
                  class="upsell-card__image"
              >
            </div>
          {% endif %}

          <div class="upsell-card" aria-labelledby="upsell-card-title-{{ product.id }}">
            <strong class="upsell-card__title" id="upsell-card-title-{{ product.id }}">
              {{ product.title | escape }}
            </strong>

            {% assign variant = product.selected_or_first_available_variant %}
            {% assign price = variant.price %}
            {% assign compare = variant.compare_at_price %}

            <div class="upsell-card__price{% if compare > price %} upsell-card__price--sale{% endif %}">
              {% if compare > price %}
                <span class="upsell-card__price-compare">
                  <s>{{ compare | money }}</s>
                </span>
                <span class="upsell-card__price-current">
                  {{ price | money }}
                </span>
              {% else %}
                <span class="upsell-card__price-current">
                  {{ price | money }}
                </span>
              {% endif %}
            </div>

            <div
              class="upsell-card__variants"
              data-section="{{ section.id }}"
              data-product-id="{{ product.id }}"
              data-url="{{ product.url }}"
            >
              {% if product.variants.size > 1 %}
                <variant-radios
                        class="upsell-card__variant-radios no-js-hidden"
                        data-section="{{ section.id }}"
                        data-url="{{ product.url }}"
                        data-product-id="{{ product.id }}"
                >
                  {% for option in product.options_with_values %}
                    <fieldset class="upsell-card__option product-form__input">
                      <legend class="upsell-card__option-label">{{ option.name | escape }}</legend>

                      {% render 'upsell-variant-options', product: product, option: option %}
                    </fieldset>
                  {% endfor %}

                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>
                </variant-radios>
              {% endif %}
            </div>

            <product-form class="upsell-card__form">
              {% form 'product', product, class: 'upsell-card__form-inner', novalidate: 'novalidate' %}
                <input
                  type="hidden"
                  name="id"
                  class="upsell-card__variant-id"
                  value="{{ variant.id }}"
                >
                <button
                  type="submit"
                  class="upsell-card__button button button--secondary"
                  {% unless variant.available %}disabled aria-disabled="true"{% endunless %}
                >
                  <span class="upsell-card__button-text">
                    {{ 'products.product.add_to_cart' | t }}
                  </span>

                  <span class="upsell-card__spinner loading-overlay__spinner hidden" aria-hidden="true">
                    <svg
                      class="spinner"
                      viewBox="0 0 66 66"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                    </svg>
                  </span>
                </button>
              {% endform %}
            </product-form>
          </div>
        </li>
      {% endunless %}
    {% endfor %}
  </ul>
{% endif %}


{% schema %}
{
  "name": "Cart upsell",
  "class": "section",
  "settings": []
}
{% endschema %}